__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/
desktop.ini
~$*
.venv/
venv/
env/
*.log
*.tmp
*.pt
*.pth
*.ckpt
*.pdbqt
*.sdf
*.mol2
*.zip
*.pdf
*.pptx
*.xlsx
04_models_checkpoints/se3_flow/*.pt
04_models_checkpoints/se3_flow/*.pth
03_features/v5_3_pretrain_anchor_atom_training.csv
06_docking/poses/*
06_docking/ligands_pdbqt/*
09_reports/*.pdf
09_reports/*.pptx
